<div class="well">
<h2 class="center">Olvidaste tu contraseña?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="center">
	  <br />
	  <%= f.email_field :email, autofocus: true, placeholder: "Correo electrónico" %>
  </div>

  <div class="center">
	  <%= f.submit "Enviar instrucciones", class: "btn btn-info" %>
  </div>
<% end %>
</div>
