<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="navbar-container">
			<h1 class="center"><%= link_to "Polaris", root_path, class:"no-style"%></h1>
			<% if user_signed_in? %>
				<p class="hero pull-right"><%= link_to "Cerrar sesión", sign_out_path %></p>
			<% end %>
		</div>
	</div>
</header>